.pane{
    -fx-background-image: url("background.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
}

.button {
    -jfx-button-type: RAISED;
    -fx-background-color: #ea8133;
    -fx-text-fill: WHITE;
    -fx-font-weight: BOLD;
    -fx-background-radius: 10px;
}
